﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.CategoryEntity*@
@model POS.ViewModel.CategoryModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Category Detail</h3>
        </div>
        <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Id</th>
                <td>@Model.CategoryId</td>
            </tr>
            <tr>
                <th>Category Name</th>
                <td>@Model.CategoryName</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
        </table>
        </div>

    </div>

</div>