﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.CategoryEntity*@
@model POS.ViewModel.CategoryModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}


<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Edit Category</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Category" method="post">
                <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label asp-for="CategoryName">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>

            </form>
        </div>

    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

