﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.EmployeesEntity*@
@model POS.ViewModel.EmployeeModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Employee Detail</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <td>@Model.EmployeeId</td>
                </tr>
                <tr>
                    <th>Customer Id</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Employee Id</th>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <th>Title Of Courtesy</th>
                    <td>@Model.TitleOfCourtesy</td>
                </tr>
                <tr>
                    <th>Birth Date</th>
                    <td>@Model.BirthDate</td>
                </tr>
                <tr>
                    <th>Hire Date</th>
                    <td>@Model.HireDate</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>@Model.Region</td>
                </tr>
                <tr>
                    <th>Postal Code</th>
                    <td>@Model.PostalCode</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <th>HomePhone</th>
                    <td>@Model.HomePhone</td>
                </tr>
                <tr>
                    <th>Extension</th>
                    <td>@Model.Extension</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>@Model.Notes</td>
                </tr>
                <tr>
                    <th>Reports To</th>
                    <td>@Model.ReportsTo</td>
                </tr>

            </table>
        </div>

    </div>

</div>