﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.EmployeesEntity*@
@model POS.ViewModel.EmployeeModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Edit Employee</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Employee" method="post">
                <input type="hidden" asp-for="EmployeeId" />
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TitleOfCourtesy"></label>
                    <input asp-for="TitleOfCourtesy" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate"></label>
                    <input asp-for="BirthDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="HireDate"></label>
                    <input asp-for="HireDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Region"></label>
                    <input asp-for="Region" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="HomePhone"></label>
                    <input asp-for="HomePhone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Extension"></label>
                    <input asp-for="Extension" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Notes"></label>
                    <input asp-for="Notes" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ReportsTo"></label>
                    <input asp-for="ReportsTo" class="form-control" />
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>

            </form>
        </div>
        
    </div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

