﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrderEntity*@
@model POS.ViewModel.OrderModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Order Details</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <th>Customer Id</th>
        <td>@Model.CustomerId</td>
    </tr>
    <tr>
        <th>Employee Id</th>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <th>Order Date</th>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <th>Required Date</th>
        <td>@Model.RequiredDate</td>
    </tr>
    <tr>
        <th>Shipper Date</th>
        <td>@Model.ShippedDate</td>
    </tr>
    <tr>
        <th>Ship Via</th>
        <td>@Model.ShipVia</td>
    </tr>
    <tr>
        <th>Freight</th>
        <td>@Model.Freight</td>
    </tr>
    <tr>
        <th>Ship Name</th>
        <td>@Model.ShipName</td>
    </tr>
    <tr>
        <th>Ship Address</th>
        <td>@Model.ShipAddress</td>
    </tr>
    <tr>
        <th>Ship City</th>
        <td>@Model.ShipCity</td>
    </tr>
    <tr>
        <th>Ship Region</th>
        <td>@Model.ShipRegion</td>
    </tr>
    <tr>
        <th>Ship Postal Code</th>
        <td>@Model.ShipPostalCode</td>
    </tr>
    <tr>
        <th>Ship Country</th>
        <td>@Model.ShipCountry</td>
    </tr>

</table>