﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrdersEntity*@
@model POS.ViewModel.Invoice.OrderDetailInvoice
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}


                
<!-- Main content -->
<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Invoice</h3>
        </div>
        <div class="card-body">
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <i class="fas fa-globe">@Model.ShipName</i> 
                            @*<small class="float-right">Date: 2/10/2014</small>*@
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        From
                        <address>
                            <strong>@Model.ShipName</strong><br>
                            @Model.ShipAddress<br>
                            @Model.ShipCity, @Model.ShipRegion @Model.ShipPostalCode<br>
                            @Model.ShipCountry<br>
                            Phone: @Model.ShipperPhone<br>
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        To
                        <address>
                            <strong>@Model.ContactTitle @Model.ContactName</strong><br>
                            @Model.CustomerAddress<br>
                            @Model.CustomerCity, @Model.CustomerPostalCode<br>
                            @*@Model.CustomerCountry<br>*@
                            Phone: @Model.CustomerPhone<br>
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice #00000</b><br>
                        <br>
                        <b>Order ID:</b> @Model.OrderId<br>
                        <b>Payment Due:</b> @Model.OrderDate<br>
                        @*<b>Account:</b> 968-34567*@
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product Id</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Discount</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DetailInvoice)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.Discount</td>
                                        <td>@item.SubTotal</td>
                                    </tr>
                                }   
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <p class="lead">Payment Methods:</p>
                        <img src="~/assets/images/visa.png" alt="Visa">
                        <img src="~/assets/images/mastercard.png" alt="Mastercard">
                        <img src="~/assets/images/american-express.png" alt="American Express">
                        <img src="~/assets/images/paypal2.png" alt="Paypal">

                        <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <p class="lead">Amount Due 2/22/2014</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>$@Model.SubTotal</td>
                                </tr>
                                <tr>
                                    <th>Tax (10%)</th>
                                    <td>$@Model.Tax</td>
                                </tr>
                                <tr>
                                    <th>Shipping:</th>
                                    <td>$@Model.Shipping</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>$@Model.Total</td>
                                </tr>
                                   
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-12">
                        <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                        <button type="button" class="btn btn-success float-right">
                            <i class="far fa-credit-card"></i> Submit
                            Payment
                        </button>
                        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> Generate PDF
                        </button>
                    </div>
                </div>
            </div>
<!-- /.invoice -->
        </div>

    </div>

</div>