﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrdersEntity*@
@model POS.ViewModel.OrderModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Edit Orders</h2>
<section class="content">
    <form asp-action="Update" asp-controller="Order" method="post">
    <input type="hidden" asp-for="OrderId" />
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Order</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="CustomerId"></label>
                            <select typ="text" asp-for="CustomerId" class="form-control" asp-items="@ViewBag.Customer">
                                <option selected>Choose Customer</option>
                            </select>
                            <span asp-validation-for="CustomerId" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="EmployeeId"></label>
                            <select asp-for="EmployeeId" class="form-control" asp-items="@ViewBag.Employee">
                                <option selected>Choos Employee</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderDate"></label>
                            <input asp-for="OrderDate" class="form-control" />
                            <span asp-validation-for="OrderDate" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RequiredDate"></label>
                            <input asp-for="RequiredDate" class="form-control" />
                            <span asp-validation-for="RequiredDate" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippedDate"></label>
                            <input asp-for="ShippedDate" class="form-control" />
                            <span asp-validation-for="ShippedDate" class="text-danger" />
                        </div>

                        <div class="form-group">
                            <label asp-for="ShipVia"></label>
                            <select asp-for="ShipVia" class="form-control" asp-items="@ViewBag.Shipper">
                                <option selected>Choos Shipper</option>
                            </select>
                            <span asp-validation-for="ShipVia" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Freight"></label>
                            <input asp-for="Freight" class="form-control" />
                            <span asp-validation-for="Freight" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipName">Ship Name</label>
                            <input asp-for="ShipName" class="form-control" />
                            <span asp-validation-for="ShipName" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipAddress"></label>
                            <input asp-for="ShipAddress" class="form-control" />
                            <span asp-validation-for="ShipAddress" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipCity"></label>
                            <input asp-for="ShipCity" class="form-control" />
                            <span asp-validation-for="ShipCity" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipRegion"></label>
                            <input asp-for="ShipRegion" class="form-control" />
                            <span asp-validation-for="ShipRegion" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipPostalCode"></label>
                            <input asp-for="ShipPostalCode" class="form-control" />
                            <span asp-validation-for="ShipPostalCode" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ShipCountry"></label>
                            <input asp-for="ShipCountry" class="form-control" />
                            <span asp-validation-for="ShipCountry" class="text-danger" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="OrderDetails[0].ProductId"></label>
                            <select asp-for="OrderDetails[0].ProductId" class="form-control" asp-items="@ViewBag.Product">
                                <option selected>Choose ProductId</option>
                            </select>
                            <span asp-validation-for="OrderDetails[0].ProductId" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderDetails[0].UnitPrice"></label>
                            <input asp-for="OrderDetails[0].UnitPrice" class="form-control"/>
                            <span asp-validation-for="OrderDetails[0].UnitPrice" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderDetails[0].Quantity"></label>
                            <input asp-for="OrderDetails[0].Quantity" class="form-control" />
                            <span asp-validation-for="OrderDetails[0].Quantity" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderDetails[0].Discount"></label>
                            <input asp-for="OrderDetails[0].Discount" class="form-control" />
                            <span asp-validation-for="OrderDetails[0].Discount" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </div>*@
        <div class="form-footer">
            <button type="submit" class="btn btn-warning">Update</button>
        </div>


    </form>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

