﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.ShippersEntity*@
@model POS.ViewModel.ShipperModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Shipper Detail</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <td>@Model.ShipperId</td>
                </tr>
                <tr>
                    <th>Company Name</th>
                    <td>@Model.CompanyName</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.Phone</td>
                </tr>
            </table>
        </div>

    </div>

</div>