﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrderDetailsEntity*@
@model POS.ViewModel.OrderDetailsModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Order Details</h2>
<form asp-action="Save" asp-controller="OrderDetails" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="OrderId"></label>
        <input asp-for="OrderId" class="form-control" />
        <span asp-validation-for="OrderId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ProductId"></label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger" />
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}