﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrderDetailsEntity*@
@model POS.ViewModel.OrderDetailsModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Order Details</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <th>Category Name</th>
        <td>@Model.ProductId</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Discount</td>
    </tr>

</table>