﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.OrderDetailsEntity*@
@model POS.ViewModel.OrderDetailsModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Edit Order Details</h2>
<form asp-action="Update" asp-controller="OrderDetails" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="OrderId"></label>
        <input asp-for="OrderId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProductId"></label>
        <input asp-for="ProductId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

