﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.Repository.CustomersEntity
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<form asp-action="List" method="get">
    <button type="submit" class="btn btn-primary">Yes</button>
</form>

