﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.CustomersEntity*@
@model POS.ViewModel.CustomerModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Customer Detail</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <td>@Model.CustomerId</td>
                </tr>
                <tr>
                    <th>Company Name</th>
                    <td>@Model.CompanyName</td>
                </tr>
                <tr>
                    <th>Contact Name</th>
                    <td>@Model.ContactName</td>
                </tr>
                <tr>
                    <th>Contact Title</th>
                    <td>@Model.ContactTitle</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>@Model.Region</td>
                </tr>
                <tr>
                    <th>Postal Code</th>
                    <td>@Model.PostalCode</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th>Fax</th>
                    <td>@Model.Fax</td>
                </tr>

            </table>
        </div>

    </div>

</div>