﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.CustomerModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Edit Customer</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Customer" method="post">
                <input type="hidden" asp-for="CustomerId" />
                <div class="form-group">
                    <label asp-for="CompanyName">Company Name</label>
                    <input asp-for="CompanyName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ContactName">Contact Name</label>
                    <input asp-for="ContactName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ContactTitle">Contact Title</label>
                    <input asp-for="ContactTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Region">Region</label>
                    <input asp-for="Region" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode">Postal Code</label>
                    <input asp-for="PostalCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Country">Country</label>
                    <input asp-for="Country" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Fax">Fax</label>
                    <input asp-for="Fax" class="form-control" />
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>

            </form>
        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

