﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.ProductsEntity*@
@model POS.ViewModel.ProductModel

<form asp-action="Save" asp-controller="Products" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="SupplierId">Supplier Id</label>
        <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier">
            <option selected>Choose Supplier</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category Id</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
            <option selected>Choose Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="QuantityPerUnit">Quantity Per Unit</label>
        <input asp-for="QuantityPerUnit" class="form-control" />
        <span asp-validation-for="QuantityPerUnit" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitsInStock">Units In Stock</label>
        <input asp-for="UnitsInStock" class="form-control" />
        <span asp-validation-for="UnitsInStock" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitsInOrder">Units In Order</label>
        <input asp-for="UnitsInOrder" class="form-control" />
         <span asp-validation-for="UnitsInOrder" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel">Reorder Level</label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Discontinued">Discontinued</label>
        @*<input asp-for="Discontinued" class="form-control" />*@
        <span asp-validation-for="Discontinued" class="text-danger" />
        <select asp-for="Discontinued" class="form-control">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
