﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.ProductsEntity*@
@model POS.ViewModel.ProductModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}
<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Product Detail</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <td>@Model.ProductId</td>
                </tr>
                <tr>
                    <th>Products Name</th>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <th>Supplier Id</th>
                    <td>@Model.SupplierId</td>
                </tr>
                <tr>
                    <th>Category Id</th>
                    <td>@Model.CategoryId</td>
                </tr>
                <tr>
                    <th>Quantity Per Unit</th>
                    <td>@Model.QuantityPerUnit</td>
                </tr>
                <tr>
                    <th>Unit Price</th>
                    <td>@Model.UnitPrice</td>
                </tr>
                <tr>
                    <th>Units In Stock</th>
                    <td>@Model.UnitsInStock</td>
                </tr>
                <tr>
                    <th>Units In Order</th>
                    <td>@Model.UnitsInOrder</td>
                </tr>
                <tr>
                    <th>Reorder Level</th>
                    <td>@Model.ReorderLevel</td>
                </tr>
                <tr>
                    <th>Discontinued</th>
                    <td>@Model.Discontinued</td>
                </tr>

            </table>
        </div>

    </div>

</div>