﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model POS.Repository.ProductsEntity*@
@model POS.ViewModel.ProductModel
@{
    ViewBag.Title = "Title";
    Layout = "_Layout";
}

<div class="col-xl-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Edit Product</h3>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Products" method="post">
                <input type="hidden" asp-for="ProductId" />
                <div class="form-group">
                    <label asp-for="ProductName">Product Name</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="SupplierId">Supplier Id</label>
                    <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier">
                        <option selected>Choose Supplier</option>
                    </select>
                    <span asp-validation-for="SupplierId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category Id</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
                        <option selected>Choose Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="QuantityPerUnit">Quantity Per Unit</label>
                    <input asp-for="QuantityPerUnit" class="form-control" />
                    <span asp-validation-for="QuantityPerUnit" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice">Unit Price</label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="UnitsInStock">Units In Stock</label>
                    <input asp-for="UnitsInStock" class="form-control" />
                    <span asp-validation-for="UnitsInStock" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="UnitsInOrder">Units In Order</label>
                    <input asp-for="UnitsInOrder" class="form-control" />
                     <span asp-validation-for="UnitsInOrder" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="ReorderLevel">Reorder Level</label>
                    <input asp-for="ReorderLevel" class="form-control" />
                    <span asp-validation-for="ReorderLevel" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Discontinued">Discontinued</label>
                    @*<input asp-for="Discontinued" class="form-control" />*@
                    <span asp-validation-for="Discontinued" class="text-danger" />
                    <select asp-for="Discontinued" class="form-control" />
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    <select/>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>

            </form>
        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}